<IfModule authz_core_module>
    # Izinkan akses ke file dan folder di dalam direktori aplikasi dan view
    Require all granted
</IfModule>
<IfModule !authz_core_module>
    # Izinkan akses ke file dan folder di dalam direktori aplikasi dan view
    Order allow,deny
    Allow from all
</IfModule>
